.important {
  color: brown;
}

.unimportant {
  color: red;
}

.about {
  text-decoration: underline;
  color: teal;
}

.aboutme {
  font-style: italic;
}
.blog {
  margin:12px;
  border: 4px solid brown;
  padding: 6px;
  background-color: green;
}

 img {
  height: 200px;
}

.bigfootpic {
  float: left;
}

.sidebar { width: 30%;
  float: left;
  background-color: yellow;
}

.column {
  width: 300px;
  float: left;
  padding: 10px;
}

#kyle {
  color: aqua;
}

.blog p {
  font-weight: bold;
}

.blog a {
  font-style: italic;
}

.column h2  {
  font-style: italic;
}
